<%= form_for(curriculum) do |f| %>
  <% if curriculum.errors.any? %>
    <div id="error_explanation" data-url="hi">
      <%= javascript_tag do %>
        swal("Error al enviar :(","Revisa los datos introducidos para poder continuar","warning");
      <% end %>
    </div>
  <% end %>

  <div class="field mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
      <%= f.label :nombre, class: "mdl-textfield__label" %>
      <%= f.text_field :nombre, value: "#{current_user.name} #{current_user.lastname}", readonly: "true", class: "mdl-textfield__input" %>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
      <%= f.label :edad, class: "mdl-textfield__label" %>
      <%= f.number_field :edad, class: "mdl-textfield__input", min: "1", max: "80" %>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <%= f.label :email, class: "mdl-textfield__label" %>
      <%= f.text_field :email, value: current_user.email, class: "mdl-textfield__input" %>
    </div>
  </div>

  <div class="field mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      <!-- <%= f.label :sexo, class: "mdl-textfield__label" %>
      <%= f.text_field :sexo, class: "mdl-textfield__input" %> -->
      <span style="font-size:12px;color:rgb(63,81,181);">Sexo:</span><br>
      <%= f.radio_button :sexo, 'Masculino', :checked => true %>
      <%= label :sexo, 'Masculino' %>
      <span style="margin:20px;"></span>
      <%= f.radio_button :sexo, 'Femenino' %>
      <%= label :sexo, 'Femenino' %>
    </div>
  </div>

  <div class="field mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      <%= f.label :personal_information, class: "mdl-textfield__label" %>
      <%= f.text_area :personal_information, class: "mdl-textfield__input", rows: 3 %>
    </div>
  </div>

  <div class="field mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
      <%= f.label :direccion, "Dirección y número de casa", class: "mdl-textfield__label" %>
      <%= f.text_field :direccion, class: "mdl-textfield__input" %>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
      <%= f.label :codigo_postal, class: "mdl-textfield__label" %>
      <%= f.number_field :codigo_postal, class: "mdl-textfield__input" %>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
      <%= f.label :ciudad, class: "mdl-textfield__label" %>
      <%= f.text_field :ciudad, class: "mdl-textfield__input" %>
    </div>
  </div>

  <div class="field mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
      <% estados = ["","Aguascalientes", "Baja California", "Baja California Sur", "Campeche"] %>
      <% estados += ["Chiapas", "Chihuahua", "Coahuila de Zaragoza", "Colima", "Ciudad de México"] %>
      <% estados += ["Durango", "Guanajuato", "Guerrero", "Hidalgo", "Jalisco", "Mexico", "Michoacan de Ocampo"] %>
      <% estados += ["Morelos", "Nayarit", "Nuevo Leon", "Oaxaca", "Puebla", "Queretaro de Arteaga"] %>
      <% estados += ["Quintana Roo", "San Luis Potosi", "Sinaloa", "Sonora", "Tabasco"] %>
      <% estados += ["Tamaulipas", "Tlaxcala", "Veracruz-Llave", "Yucatan", "Zacatecas"] %>
      <span style="font-size:12px;color:rgb(63,81,181);">Estado:</span><br>
      <%= f.select :estado, estados, {}, include_blank: true, class: "chosen_select", style: "width: 200px;" %>
    </div>
  </div>

  <div class="field mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
      <%= f.label :telefono, class: "mdl-textfield__label" %>
      <%= f.text_field :telefono, class: "mdl-textfield__input" %>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
      <%= f.label :celular, class: "mdl-textfield__label" %>
      <%= f.text_field :celular, class: "mdl-textfield__input" %>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
      <%= f.label :especialidad, class: "mdl-textfield__label" %>
      <%= f.text_field :especialidad, class: "mdl-textfield__input" %>
    </div>
  </div>

  <div class="field mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
      <% grados_estudio = ["","Secundaria","Preparatoria general","Bachillerato general","Bachillerato tecnico","Licenciatura","Maestria","Doctorado"] %>
      <span style="font-size:12px;color:rgb(63,81,181);">Grado de estudios:</span><br>
      <%= f.select :grado_estudios, grados_estudio, {}, include_blank: true, class: "chosen_select", style: "width: 200px;" %>
    </div>
  </div>

  <div class="field mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
      <span style="font-size:12px;color:rgb(63,81,181);">Sueldo deceado:</span><br>
      <%= f.select :sueldo_dec, (500..6000).step(500).to_a, {}, include_blank: true, class: "chosen_select", style: "width: 200px;" %>
    </div>
  </div>

  <div class="field mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      <%= f.label :herramientas_usadas, class: "mdl-textfield__label" %>
      <%= f.text_area :herramientas_usadas, class: "mdl-textfield__input", rows: 3 %>
    </div>
  </div>

  <div class="field mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
      <%= f.label :institucion_educativa, "Ultimo lugar de estudios", class: "mdl-textfield__label" %>
      <%= f.text_field :institucion_educativa, class: "mdl-textfield__input" %>
    </div>
  </div>

  <div class="field mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <span style="font-size:12px;color:rgb(63,81,181);">Experiencia laboral (años):</span><br>
      <%= f.select :experiencia_laboral, (0..10).to_a, {}, include_blank: true, class: "chosen_select", style: "width: 200px;" %>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <span style="font-size:12px;color:rgb(63,81,181);">Nivel de inglés (%):</span><br>
      <%= f.select :english_level, (0..100).step(10).to_a, {}, include_blank: true, class: "chosen_select", style: "width: 200px;" %>
    </div>
  </div>

  <div class="field mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
      <%= f.label :last_work, class: "mdl-textfield__label" %>
      <%= f.text_field :last_work, class: "mdl-textfield__input" %>
    </div>
  </div>

  <div class="field mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      <%= f.label :last_work_description, class: "mdl-textfield__label" %>
      <%= f.text_area :last_work_description, class: "mdl-textfield__input", rows: 3 %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Guardar cambios" %>
  </div>
<% end %>
