<div class="curriculum_container mdl-grid">
  <div class="curriculum_item name_curriculum mdl-cell mdl-cell--12-col">
    <p><%= @curriculum.nombre %></p>
  </div>

  <div class="curriculum_item email_curriculum mdl-cell mdl-cell--12-col">
    <p>
      Email<br>
      <span><%= @curriculum.email %></span>
    </p>
  </div>

  <div class="curriculum_item edad_curriculum mdl-cell mdl-cell--3-col">
    <p>
      Edad<br>
      <span><%= @curriculum.edad %></span>
    </p>
  </div>

  <div class="curriculum_item sexo_curriculum mdl-cell mdl-cell--3-col">
    <p>
      Sexo<br>
      <span><%= @curriculum.sexo %></span>
    </p>
  </div>

  <div class="curriculum_item tel_curriculum mdl-cell mdl-cell--3-col">
    <p>
      Telefono<br>
      <span><%= @curriculum.telefono %></span>
    </p>
  </div>

  <div class="curriculum_item cel_curriculum mdl-cell mdl-cell--3-col">
    <p>
      Celular<br>
      <span><%= @curriculum.celular %></span>
    </p>
  </div>

  <div class="curriculum_item direccion_curriculum mdl-cell mdl-cell--8-col">
    <p>
      Direccion<br>
      <span><%= "#{@curriculum.direccion}, #{@curriculum.ciudad}, #{@curriculum.estado}" %></span>
    </p>
  </div>

  <div class="curriculum_item cp_curriculum mdl-cell mdl-cell--4-col">
    <p>
      Codigo postal<br>
      <span><%= @curriculum.codigo_postal %></span>
    </p>
  </div>

  <div class="curriculum_item cp_curriculum mdl-cell mdl-cell--4-col">
    <p>
      Especialidad<br>
      <span><%= @curriculum.especialidad %></span>
    </p>
  </div>

  <div class="curriculum_item cp_curriculum mdl-cell mdl-cell--4-col">
    <p>
      Grado de estudios<br>
      <span><%= @curriculum.grado_estudios %></span>
    </p>
  </div>

  <div class="curriculum_item cp_curriculum mdl-cell mdl-cell--4-col">
    <p>
      Sueldo deceado<br>
      <span><%= @curriculum.sueldo_dec %></span>
    </p>
  </div>

  <div class="curriculum_item cp_curriculum mdl-cell mdl-cell--12-col">
    <p>
      Herramientas usadas<br>
      <span><%= @curriculum.herramientas_usadas %></span>
    </p>
  </div>

  <div class="curriculum_item cp_curriculum mdl-cell mdl-cell--2-col">
    <p>
      Experiencia laboral<br>
      <span><%= @curriculum.experiencia_laboral %></span>
    </p>
  </div>

  <div class="curriculum_item cp_curriculum mdl-cell mdl-cell--7-col">
    <p>
      Institución educativa<br>
      <span><%= @curriculum.institucion_educativa %></span>
    </p>
  </div>

  <div class="curriculum_item cp_curriculum mdl-cell mdl-cell--3-col">
    <p>
      Idiomas<br>
      <span><%= @curriculum.idiomas %></span>
    </p>
  </div>
</div>
