<div class="curriculum_container flex column">
  <div class="curriculum_item name_curriculum">
  <div class="main_info flex centerY column">

    <% if @curriculum.user.photo.file? %>
      <%= image_tag @curriculum.user.photo.url(:medium) , class: "rounded_image"%>
    <% end %>
    <h3><%= @curriculum.nombre %></h3>

    <div class="hr_fake"></div>

    <div class="main_user_data flex centerX centerY">
      <p class="mini_text"><%= "#{@curriculum.direccion}, #{@curriculum.ciudad}, #{@curriculum.estado}" %></p>
      <p class="mini_text"><%= "#{@curriculum.telefono}, #{@curriculum.celular}" %></p>
      <p class="mini_text"><%= "#{@curriculum.email}" %></p>
    </div>
  </div>
  <div class="other_info">

    <div class="hr_fake"></div>

    <div class="personal_info">
      <h4 class="tag_text">Información personal</h4>
      <p><span><%= "Sexo: #{@curriculum.sexo}" %></span><span style="margin-left: 30px;"><%= "Edad: #{@curriculum.edad}" %></span></p>

      <% if @curriculum.personal_information.present? %>
        <hr>
        <p class="data_text">Sobre mi:</p>
        <p><%= @curriculum.personal_information %></p>
      <% end %>

      <% if @curriculum.interests.present? %>
        <hr>
        <p class="data_text">Intereses y hobies:</p>
        <p><%= @curriculum.interests %></p>
      <% end %>

      <% if @curriculum.personal_goals.present? %>
        <hr>
        <p class="data_text">Metas personales:</p>
        <p><%= @curriculum.personal_goals %></p>
      <% end %>

      <% if !@curriculum.idioms.empty? %>
        <hr>
        <p class="data_text">Idiomas</p>
        <div class="mdl-grid">
          <% @curriculum.idioms.each do |i| %>
            <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp" style="padding:10px;">
              <p><span><%= "#{i.language}, #{i.percentage}" %><%= "%" if i.percentage != "Lengua materna" %></span></p>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @curriculum.herramientas_usadas.present? %>
        <hr>
        <p>Herramientas, software y demás funciones que domina:</p>
        <p><%= @curriculum.herramientas_usadas %></p>
      <% end %>

      <% if !@curriculum.personal_references.empty? %>
        <hr>
        <p class="data_text">Referencias Profesionales</p>
        <div class="mdl-grid">
          <% @curriculum.personal_references.each do |r| %>
            <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp" style="padding:10px;">
              <p><span><%= "nombre: #{r.name}" %></span></p>
              <p><span><%= "email: #{r.email}" %></span></p>
              <p><span><%= "tel.: #{r.phone}" %></p>
              <p><span><%= "Tiempo de conocerlo: #{r.time}" %></span></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="hr_fake"></div>

    <div class="school_info">
      <h4 class="tag_text">Escolaridad</h4>
      <p><%= "Grado de estudios: #{@curriculum.grado_estudios}" %></p>
      <p><%= "Escuela: #{@curriculum.institucion_educativa}" %></p>
      <p><span><%= "Especialidad: #{@curriculum.especialidad}" %></span><span style="margin-left:30px;"><%= "Titulo obtenido: #{@curriculum.title}" %></span></p>

      <% if @curriculum.graduates.present? %>
        <hr>
        <p class="data_text">Cursos y diplomados:</p>
        <p><%= @curriculum.graduates %></p>
      <% end %>
    </div>

    <div class="hr_fake"></div>

    <div class="professional_info">
      <h4 class="tag_text">Trabajos actuales y anteriores</h4>

      <% if @curriculum.experiencia_laboral != 0 %>
        <hr>
        <p><%= "Experiencia laboral: #{@curriculum.experiencia_laboral} años" %></p>
      <% end %>

      <% if @curriculum.last_work.present? %>
        <p style="font-size: 25px">Ultimo trabajo</p>
        <hr>
        <p><%= "Lugar de ultimo trabajo: #{@curriculum.last_work}" %></p>
        <% if @curriculum.last_work_description.present? %>
          <p><%= "Descripción: #{@curriculum.last_work_description}" %></p>
        <% end %>
      <% end %>

      <% if @curriculum.current_work_post.present? %>
        <hr>
        <p style="font-size: 25px">Trabajo actual</p>
        <p><%= "Lugar de trabajo actual: #{@curriculum.current_work_place}" %></p>
        <% if @curriculum.current_work_post.present? %>
          <p><%= "Puesto: #{@curriculum.current_work_post}" %></p>
        <% end %>
        <% if @curriculum.current_work_functions.present? %>
          <p><%= "Funciones: #{@curriculum.current_work_functions}" %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if !current_recruit.nil? %>
  <div class="recruit_controls flex">
    <%= link_to "Regresar", :back, class: "success_button" %>
    <% if !@curriculum.has_date %>
      <button type="button" class="assign_appointment">Asignar cita</button>
    <% end %>
    <% if current_recruit.is_admin %>
      <button type="button" class="reject_appointment drop_cv">Eliminar curriculum</button>
      <%# link_to "Borrar curriculum", @curriculum, method: :delete, data: { confirm: '¿Seguro de eliminar este curriculum?' }, class: "reject_appointment" %>
    <% end %>
  </div>

  <!-- Modal para establecer cita -->

  <div class="modal_appointment_container">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="modal_title">
        <h3>Asignar cita</h3>
      </div>
      <div class="modal_body">
        <%= form_tag appointment_path, method: "get", html: { class: "modal_appointment" } do %>
          <%= hidden_field_tag :curriculum_id, @curriculum.id %>
          <%= hidden_field_tag :recruit_id, current_recruit.id %>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
            <label class="mdl-textfield__label">Fecha</label>
            <%= date_field_tag :date_appointment, params[:date_appointment], class: "mdl-textfield__input datepicker modal_date_picker" %>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
            <label class="mdl-textfield__label">Hora</label>
            <%= time_field_tag :time_appointment, params[:time_appointment], class: "mdl-textfield__input timepicker modal_time_picker" %>
          </div>
          <div class="actions">
            <%= submit_tag "Establecer cita", class: "set_appointment" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="modal_description_container">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="modal_title">
        <h3>Justificacion</h3>
      </div>
      <div class="modal_body">
        <%= form_tag dropcv_path, method: "get", html: { class: "modal_drop_cv" } do %>
        <%= hidden_field_tag :curriculum_id, @curriculum.id %>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
          <label class="mdl-textfield__label">Describe razón de la baja</label>
          <%= text_area_tag :description, params[:description], class: "mdl-textfield__input", rows: 5, style: "width:100%" %>
        </div>
          <div class="actions">
            <%= submit_tag "Eliminar curriculum", class: "reject_appointment" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
