<% if notice && notice != "Signed in successfully." %>
  <%= javascript_tag do %>
    var notice = '<%= notice %>'
    swal("Exito",notice,"success");
  <% end %>
<% end %>

<h3 style="margin-bottom:10px;">Buscar</h3>

<%= form_for @list, remote: true, html: {class: "search-form"} do |s| %>

  <div class="field mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
      <%= s.label :min_age, "Edad minima", class: "mdl-textfield__label" %>
      <%= s.text_field :min_age, class: "mdl-textfield__input" %>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
      <%= s.label :max_age, "Edad maxima", class: "mdl-textfield__label" %>
      <%= s.text_field :max_age, class: "mdl-textfield__input" %>
    </div>
  </div>

  <div class="field mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
      <%= s.label :speciality, "Especialidad", class: "mdl-textfield__label" %>
      <%= s.text_field :speciality, class: "mdl-textfield__input" %>
    </div>
  </div>

  <div class="field mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
      <% estados = ["","Aguascalientes", "Baja California", "Baja California Sur", "Campeche"] %>
      <% estados += ["Chiapas", "Chihuahua", "Coahuila de Zaragoza", "Colima", "Ciudad de México"] %>
      <% estados += ["Durango", "Guanajuato", "Guerrero", "Hidalgo", "Jalisco", "Mexico", "Michoacan de Ocampo"] %>
      <% estados += ["Morelos", "Nayarit", "Nuevo Leon", "Oaxaca", "Puebla", "Queretaro de Arteaga"] %>
      <% estados += ["Quintana Roo", "San Luis Potosi", "Sinaloa", "Sonora", "Tabasco"] %>
      <% estados += ["Tamaulipas", "Tlaxcala", "Veracruz-Llave", "Yucatan", "Zacatecas"] %>
      <span style="font-size:12px;color:rgb(63,81,181);">Estado:</span><br>
      <%= s.select :state, estados, {}, include_blank: true, class: "chosen_select" %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col">
      <% grados_estudio = ["","Secundaria","Preparatoria general","Bachillerato general","Bachillerato tecnico","Licenciatura","Maestria","Doctorado"] %>
      <span style="font-size:12px;color:rgb(63,81,181);">Grado de estudios:</span><br>
      <%= s.select :grade, grados_estudio, {}, include_blank: true, class: "chosen_select", style: "width: 200px;" %>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
      <% languages = ["","Chino", "Español", "Inglés", "Árabe", "Francés"] %>
      <% languages += ["Italiano", "Portugués", "Ruso", "Japonés", "Alemán"] %>
      <% languages.sort_by!{ |e| e.downcase } %>
      <span style="font-size:12px;color:rgb(63,81,181);">Idioma:</span><br>
      <%= s.select :language, languages, {}, include_blank: true, class: "chosen_select", placeholder: "Selecciona un idioma", style: "width: 200px;" %>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
      <span style="font-size:12px;color:rgb(63,81,181);">Dominio %:</span><br>
      <% percent = ["","Lengua materna"] + (0..100).step(5).to_a %>
      <%= s.select :percentage, percent, {}, include_blank: true, class: "chosen_select", style: "width: 200px;" %>
    </div>
  </div>

  <div class="actions">
    <%= s.submit "Buscar" %>
  </div>

<% end %>
