<% if notice && notice == "No tiene permitido entrar a esta vista."%>
  <div id="error_explanation" data-url="hi">
    <%= javascript_tag do %>
      var notice = '<%= notice %>'
      swal("Acceso denegado",notice + " >:v","warning");
    <% end %>
  </div>
<% end %>
<div class="mdl-grid flex centerY">
  <div class="info_user" style="width:100%;">
    <h3>Perfil</h3>
    <% if current_user %>
      <p>Nombre del solcitante: <span class="strong"><%= "#{current_user.name} #{current_user.lastname}" %></span></p>
      <p>Direccion de correo: <span class="strong"><%= current_user.email %></span></p>
      <p>Número de identificación: <span class="strong"><%= current_user.id %></span></p>
      <%# link_to "Editar", edit_user_registration_path, class: "custom_button" %>
    <% end %>

    <% if @curriculum %>
      <h3>Situación</h3>

      <p>Cita aceptada: <span class="strong"> <%= r = @curriculum[0].has_date ? "SI" : "NO" %> </span></p>
      <!-- Contenido visible en caso de que la cita sea aceptada -->
      <p>Fecha de cita: <span class="strong"> <%= r = @curriculum[0].has_date ? "#{@curriculum[0].date_appointment.strftime('%F')} a las #{@curriculum[0].time_appointment.strftime('%H:%M')}" : "No tiene fecha asignada" %> </span></p>
    <% end %>

    <% if @curriculum && @curriculum[0].has_date %>
      <h3>Información del recluta</h3>

      <p>Atendido por: <span class="strong"> <%= @curriculum[0].recruit.name %> </span></p>
      <p>Email: <span class="strong"> <%= @curriculum[0].recruit.email %> </span></p>
      <p>Telefono: <span class="strong"> <%# @curriculum[0].recruit.email %> </span></p>
    <% end %>
  </div>
</div>
